{% extends "home/base.html" %}
{% block title %} Cool shop: Авторизация {% endblock%}
{% block content %}
    <div class="login-form container mt-5">
        <form action="/login/" method="POST">
            {% csrf_token %}
            <input name="username" placeholder="Введите почту">
            <input name="password" type="password" placeholder="Введите пароль">
            <button type="submit">Войти</button>
        </form>
        <div>Не зарегистрированы, <a href="/login">Зарегестрироваться</a></div>
    </div>
{% endblock %}